---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Written by {frontmatter.author}</p>
  <p><em>{frontmatter.description}</em></p>
  <p class="mb-4">Published on: {frontmatter.pubDate.slice(0, 10)}</p>

  <img
    src={frontmatter.image.url}
    width="300"
    alt={frontmatter.image.alt}
    class="mb-4"
  />

  <slot />
</BaseLayout>
